body {
    color: whitesmoke;
    background-color: lightsalmon;
    background-image: url("seaweed-feat-1800x0-c-center.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
.Alan {
    color: pink;
    background-color: black;
}